# ===== CONFIGURACIÓN CORS =====
# URLs permitidas (Gateway API)
CORS_ORIGINS=http://localhost:3002

# ===== CONFIGURACIÓN DE BASE DE DATOS =====
DB_HOST=db.xfeycgctysoumclptgoh.supabase.co
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=XeCWl8Dam9CNUS1m
DB_DATABASE=postgres

# ===== CONFIGURACIÓN JWT =====
JWT_SECRET=supersecret

# ===== CONFIGURACIÓN DEL SERVIDOR =====
PORT=3001 