# ===== CONFIGURACIÓN CORS =====
# URLs permitidas (solo Gateway API)
CORS_ORIGINS=http://localhost:3002

# ===== CONFIGURACIÓN DE BASE DE DATOS =====
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password_here
DB_DATABASE=postgres

# ===== CONFIGURACIÓN JWT =====
JWT_SECRET=supersecret

# ===== CONFIGURACIÓN DEL SERVIDOR =====
PORT=3001 